

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  #__next {}

  html,
  body {
    overflow-x: hidden;
    
  }
}


th {
  min-width: 100px;
  min-height: 50px;
}

.table-container {
  overflow-x: auto;
  white-space: nowrap;
}

table {
  position: relative;
}

tr.data-table-row:hover {
  background-color: #EEF2F6;
  color: black;
}

td.source-id:hover {
  background-color: #EEF2F6;
  color: black;
}

td.mark {
  border: 0px solid white
}

td.mark:hover {
  border: 0px solid white;
}
